# Restricted console used by bareos-webui for user {{ hostvars[item]['client_hostname'] }}
Console {
Name = {{ hostvars[item]['client_webui_username']|default(hostvars[item]['client_hostname']) }}
Password = "{{ hostvars[item]['client_webui_password']|default(client_webui_default_password) }}"
Profile = "{{ hostvars[item]['client_hostname'] }}"
TLS Enable = {{ hostvars[item]['client_tls_enable'] }}
}
