Client {
  Name = {{ hostvars[item]['client_hostname'] }}
  Address = {{ hostvars[item]['client_address'] }}
  Password = {{ bareos_clients_password }}
  TLS Enable = {{ hostvars[item]['client_tls_enable'] }}
  Auto Prune = {{ hostvars[item]['client_auto_prune'] }}
}
