Client {
  Name = {{ item.hostname }}
  Address = {{ item.address }}
  Password = {{ bareos_clients_password }}
  TLS Enable = No
  Auto Prune = Yes
  File Retention = {{ item.pool.retention }}
  Job Retention = {{ item.pool.retention }}
}
