Job {
  Name = "{{ item.hostname }}"
  Type = Backup
  Level = Full
  Client = {{ item.hostname }}
  FileSet= "{{ item.fileset }}"
  Messages = Standard
  Storage = {{ item.pool.storage }}
  Pool = {{ item.hostname }}
  Schedule = {{ item.schedule }}
  Priority = {{ item.priority|default(20, true) }}
  Allow Mixed Priority = {{ bareos_jobs_allow_mixed_priority }}
  Reschedule On Error = {{ bareos_jobs_reschedule_on_error }}
  Reschedule Interval = {{ bareos_jobs_reschedule_interval }}
  Reschedule Times = {{ bareos_jobs_reschedule_times }}
}
