Pool {
  Name = {{ hostvars[item]['client_hostname'] }}
  Pool Type = {{ hostvars[item]['client_pool_type'] }}
  Recycle = {{ hostvars[item]['client_pool_recycle'] }}
  Auto Prune = {{ hostvars[item]['client_pool_auto_prune'] }}
  Volume Retention = {{ hostvars[item]['client_pool_volume_retention'] }}
  File Retention = {{ hostvars[item]['client_pool_file_retention'] }}
  Job Retention = {{ hostvars[item]['client_pool_job_retention'] }}
  Label Format = "{{ hostvars[item]['client_hostname'] }}-"
  Volume Use Duration = {{ hostvars[item]['client_pool_use_duration'] }}
  Recycle Oldest Volume = {{ hostvars[item]['client_pool_recycle_oldest_volume'] }}
  Action On Purge = {{ hostvars[item]['client_pool_action_on_purge'] }}
  Storage = {{ hostvars[item]['client_remote_storage'] }}
  Maximum Volumes = {{ hostvars[item]['client_pool_max_volumes'] }}
}
